/*reset*/ /***selector universal***/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #3d423c;
}

h1 {
  display: flex;
  justify-content: center;
  color: #3d423c;
  background-color: #d0bc87;
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  padding-top: 20px;
}

h2 {
  font-family: "Quicksand", sans-serif;
}

/*index*/
.take-away {
  color: white;
  background-color: #abdb25;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
}

#tiendas-cercanas {
  color: white;
  background-color: #abdb25;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  border-bottom: 3px solid;
  border-color: #3d423c;
}

#menu {
  color: white;
  background-color: #418e8e;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  border-bottom: 3px solid;
  border-color: #3d423c;
}

.menu {
  color: white;
  background-color: #418e8e;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
}

/*nosotros*/
.titulo-nosotros {
  color: #3d423c;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

#h1-horario {
  color: #3d423c;
  background-color: #e0dba4;
  display: flex;
  justify-content: center;
}

.h3-nosotros {
  font-family: "Quicksand", sans-serif;
  color: #3d423c;
  background-color: #e0dba4;
  padding: 10px;
}

.ul-nosotros {
  color: #3d423c;
  background-color: #e0dba4;
  padding: 20px;
  display: flex;
  justify-content: center;
}

/*nuestro-menu*/
.h2-menu {
  font-size: 25px;
  display: flex;
  text-align: center;
  color: white;
  background-color: maroon;
  padding-bottom: 20px;
  padding-top: 20px;
}

/*n-establecimientos*/
#establecimientos {
  font-family: "Quicksand", sans-serif;
  color: #3d423c;
  display: flex;
  justify-content: center;
  background-color: #ccae73;
  padding: 10px;
}

#info {
  font-family: "Quicksand", sans-serif;
  margin: 10px;
}

/*form*/
.input {
  height: 20px;
}

.input-asunto {
  height: 70px;
  width: 67%;
  margin-top: 10px;
  display: flex;
}

/*navbar*/
/**** nav ****/
nav {
  background-color: #d0bc87;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 10px;
}

/*home*/
.parrafo-home {
  font-family: "Quicksand", sans-serif;
  margin-top: 30px;
  padding: 20px;
  background-color: #e0dba4;
}

/*header */
/**header**/
header {
  width: 100%;
}
header nav ul li {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 20px;
}
header nav ul li a {
  text-decoration: none;
}

/*imagenes*/
#imagen {
  width: 100%;
  height: 40%;
  text-align: center;
}

.imagen-home1:hover {
  transform: scale(1.1);
  transition: 2s;
}

.imagen-home2:hover {
  transform: scale(1.1);
  transition: 2s;
}

.imagen-home1 {
  width: 98vh;
  height: 500px;
}

.imagen-home2 {
  width: 98vh;
}

/*footer*/
/**** footer ****/
footer {
  background-color: #d0bc87;
  border-top: 1px solid;
  height: 100%;
  width: 100%;
}
footer #Copyright {
  margin-top: 10px;
  margin-left: 10px;
}
footer .logo-tiendas {
  width: 100px;
  display: flex;
}

/*enlaces*/
/** enlaces**/
#ancla-home1 {
  display: flex;
  justify-content: center;
}

#ancla-home2 {
  display: flex;
  justify-content: center;
}

.instagram {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.facebook {
  margin-top: 20px;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.linkedin {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

/*grid*/
.body-grid {
  display: grid;
  grid-template-columns: 75% 0fr 1fr;
  grid-template-rows: 150px 30% 1fr 15%;
  grid-template-areas: "header header header" "div div div" "main main main" "footer footer footer";
  width: 100%;
}

.header-grid {
  grid-area: header;
}

.main-grid {
  grid-area: main;
  background-color: #1c3166;
}

.div-grid {
  grid-area: div;
}

.footer-grid {
  grid-area: footer;
}

/**GRID CONTACTO**/
.body-grid-contacto {
  display: grid;
  grid-template-columns: 75% 0fr 1fr;
  grid-template-rows: 40vh 2fr 1fr;
  grid-template-areas: "header header header" "form form form" "footer footer footer";
}

.form {
  grid-area: form;
  padding-left: 10px;
}

.header-grid-contacto {
  grid-area: header;
}

.footer-grid-contacto {
  grid-area: footer;
}

/** TABLET **/
/*****Home*****/
@media (max-width: 1024px) {
  .body-grid {
    display: grid;
    grid-template-columns: 70% 2fr 3fr;
    grid-template-rows: 150px 2fr 3fr;
    grid-template-areas: "header header header" "div div div" "main main main" "footer footer footer";
    width: 100%;
  }
  .imagen-home1 {
    width: 500px;
    height: 300px;
  }
  .imagen-home2 {
    width: 50%;
  }
}
/*****contacto*****/
@media (max-width: 1024px) {
  .body-grid-contacto {
    grid-template-columns: 75% 0fr 1fr;
    grid-template-rows: 40vh 2fr 1fr;
    grid-template-areas: "header header header" "form form form" "footer footer footer";
  }
}
/*****MOBILE*****/
/*****Home*****/
@media (max-width: 425px) {
  .body-grid {
    display: grid;
    grid-template-columns: 70% 2fr 3fr;
    grid-template-rows: 200px 100vh 1fr;
    grid-template-areas: "header header header" "div div div" "main main main" "footer footer footer";
    width: 100%;
  }
  .imagen-home1 {
    width: 300px;
    height: 200px;
  }
  .imagen-home2 {
    width: 50%;
  }
  nav {
    padding-top: 0px;
    padding-bottom: 0px;
    flex-direction: column;
  }
}
/*****contacto*****/
@media (max-width: 1024px) {
  .body-grid-contacto {
    grid-template-columns: 75% 0fr 1fr;
    grid-template-rows: 40vh 2fr 1fr;
    grid-template-areas: "header header header" "form form form" "footer footer footer";
  }
}

/*# sourceMappingURL=style.css.map */
