/** enlaces**/
#ancla-home1{
    display: flex;
    justify-content: center;
}
#ancla-home2{

    display: flex;
    justify-content: center;
}


.instagram {
    width: 40px;
    height: 40px;
    margin-left: 10px;

}

.facebook {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.linkedin {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
