/**** footer ****/
footer {
    background-color: #d0bc87;
    border-top: 1px solid;
    height: 100%;
    width: 100%;

    #Copyright {
        margin-top: 10px;
        margin-left: 10px;
    
    }
    
    .logo-tiendas {
        width: 100px;
        display: flex;
    
    
    }
}


