/*reset*/ /***selector universal***/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #3d423c;
}

h1 {
  display: flex;
  justify-content: center;
  color: #3d423c;
  background-color: #d0bc87;
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  padding-top: 20px;
}

h2 {
  font-family: "Quicksand", sans-serif;
}

/*index*/
.take-away {
  color: white;
  background-color: #abdb25;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
}

#tiendas-cercanas {
  color: white;
  background-color: #abdb25;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  border-bottom: 3px solid;
  border-color: #3d423c;
}

#menu {
  color: white;
  background-color: #418e8e;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  border-bottom: 3px solid;
  border-color: #3d423c;
}

.menu {
  color: white;
  background-color: #418e8e;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
}

/*contacto*/
.subtitulos-contacto {
  font-family: "Quicksand", sans-serif;
  color: #3d423c;
  background-color: #e0dba4;
  display: flex;
  justify-content: center;
  padding: 10px;
}

/*nosotros*/
.titulo-nosotros {
  color: #3d423c;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

#h2-horario {
  color: #3d423c;
  background-color: #e0dba4;
  display: flex;
  justify-content: center;
}

.h3-nosotros {
  font-family: "Quicksand", sans-serif;
  color: #3d423c;
  background-color: #e0dba4;
  padding: 10px;
}

.ul-nosotros {
  color: #3d423c;
  background-color: #e0dba4;
  padding: 20px;
  display: flex;
  justify-content: center;
}

/*nuestro-menu*/
.h2-menu {
  font-size: 25px;
  display: flex;
  text-align: center;
  color: white;
  background-color: maroon;
  padding-bottom: 20px;
  padding-top: 20px;
}

/*n-establecimientos*/
#establecimientos {
  font-family: "Quicksand", sans-serif;
  color: #3d423c;
  display: flex;
  justify-content: center;
  background-color: #ccae73;
  padding: 10px;
}

#info {
  font-family: "Quicksand", sans-serif;
  margin: 10px;
}

.mapa {
  width: 100%;
} /*form*/
.input {
  height: 30px;
}

.asunto {
  height: 50px;
  width: 600px;
}

/*home*/
.parrafo-home {
  font-family: "Quicksand", sans-serif;
  margin-top: 30px;
  padding: 20px;
  background-color: #e0dba4;
}

.h2-subtitulo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #3d423c;
}

.h3-subtitulo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #3d423c;
} /*header */
/**header**/
header {
  width: 100%;
}
header nav {
  background-color: #d0bc87;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 10px;
}
header nav ul li {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 20px;
}
header nav ul li a {
  text-decoration: none;
}

/*imagenes*/
#imagen {
  width: 100%;
  height: 40%;
  text-align: center;
}

.imagen-home1:hover {
  transform: scale(1.1);
  transition: 2s;
}

.imagen-home2:hover {
  transform: scale(1.1);
  transition: 2s;
}

.imagen-home1 {
  width: 98vh;
  height: 500px;
}

.imagen-home2 {
  width: 97.5vh;
}

#img-nosotros {
  width: 100%;
  height: 50%;
}

/*footer*/
/**** footer ****/
footer {
  background-color: #d0bc87;
  border-top: 1px solid;
  height: 100%;
  width: 100%;
}
footer #Copyright {
  margin-top: 10px;
  margin-left: 10px;
}
footer .logo-tiendas {
  width: 100px;
  display: flex;
}
footer .botton-top {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  padding: 10px;
  background-color: #122f51;
}

/*enlaces*/
/** enlaces**/
#ancla-home1, #ancla-home2 {
  display: flex;
  justify-content: center;
}

.instagram, .linkedin, .facebook {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.facebook {
  margin-top: 20px;
}

/*grid*/
.body-grid {
  display: grid;
  grid-template-columns: 75% 0% 1fr;
  grid-template-rows: 150px 30% 1fr 15%;
  grid-template-areas: "header header header" "div div div" "main main main" "footer footer footer";
  width: 100%;
  /** TABLET **/
  /*****Home*****/
  /*****MOBILE*****/
  /*****Home*****/
}
@media (max-width: 1024px) {
  .body-grid .body-grid {
    display: grid;
    grid-template-columns: 70% 2fr 3fr;
    grid-template-rows: 150px 2fr 3fr;
    grid-template-areas: "header header header" "div div div" "main main main" "footer footer footer";
    width: 100%;
  }
  .body-grid .imagen-home1 {
    width: 50%;
    height: 50%;
  }
  .body-grid .imagen-home2 {
    width: 50%;
  }
  .body-grid .botton-top {
    display: none;
  }
}
@media (max-width: 425px) {
  .body-grid .body-grid {
    display: grid;
    grid-template-columns: 70% 2fr 3fr;
    grid-template-rows: 200px 100vh 1fr;
    grid-template-areas: "header header header" "div div div" "main main main" "footer footer footer";
    width: 100%;
  }
  .body-grid .imagen-home1 {
    width: 50%;
  }
  .body-grid .imagen-home2 {
    width: 50%;
  }
  .body-grid nav {
    padding-top: 0px;
    padding-bottom: 0px;
    flex-direction: column;
  }
  .body-grid .botton-top {
    display: none;
  }
  .body-grid .logo-tiendas {
    display: none;
  }
  .body-grid .h3-subtitulo {
    display: none;
  }
  .body-grid .h2-subtitulo {
    margin-top: 40px;
  }
}

.header-grid {
  grid-area: header;
}

.main-grid {
  grid-area: main;
  background-color: #1c3166;
}

.div-grid {
  grid-area: div;
}

.footer-grid {
  grid-area: footer;
}

/**GRID CONTACTO**/
.body-grid-contacto {
  display: grid;
  grid-template-columns: 75% 0fr 1fr;
  grid-template-rows: 50vh 1fr 1fr;
  grid-template-areas: "header header header" "form form form" "footer footer footer";
  /*TABLET*/
  /*****contacto*****/
  /*MOBILE*/
  /*****contacto*****/
}
@media (max-width: 1024px) {
  .body-grid-contacto .body-grid-contacto {
    grid-template-columns: 75% 0fr 1fr;
    grid-template-rows: 40vh 2fr 1fr;
    grid-template-areas: "header header header" "form form form" "footer footer footer";
  }
}
@media (max-width: 1024px) {
  .body-grid-contacto .body-grid-contacto {
    grid-template-columns: 75% 0fr 1fr;
    grid-template-rows: 40vh 2fr 1fr;
    grid-template-areas: "header header header" "form form form" "footer footer footer";
  }
  .body-grid-contacto .asunto {
    width: 200px;
  }
}

.form {
  grid-area: form;
  padding-left: 10px;
}

.header-grid-contacto {
  grid-area: header;
}

.footer-grid-contacto {
  grid-area: footer;
}

/**GRID NOSOTROS**/
/*****MOBILE*****/
@media (max-width: 425px) {
  .body-grid-nosotros {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 15% 30% 50% 200px;
    grid-template-areas: "header header header" "main main main" "ul ul ul" "footer footer footer";
    width: 100%;
    height: 100%;
  }
  #img-nosotros {
    width: 100%;
    height: 50%;
  }
  .titulo-nosotros {
    margin-left: 10px;
  }
  .ul-nosotros {
    display: none;
  }
}
/** TABLET **/
/*****nosotros*****/
@media (max-width: 1024px) {
  .body-grid-nosotros {
    display: grid;
    grid-template-columns: 70% 2fr 3fr;
    grid-template-rows: 2fr 710px 100px 300px;
    grid-template-areas: "header header header" "main main main" "ul ul ul" "footer footer footer";
    width: 100%;
  }
  #img-nosotros {
    width: 100%;
    height: 50%;
  }
  .titulo-nosotros {
    margin-left: 10px;
  }
}
/**GRID-AREA**/
.header-grid-nosotros {
  grid-area: header;
}

.main-grid-nosotros {
  grid-area: main;
}

.ul-nosotros {
  grid-area: ul;
}

.footer-grid-nosotros {
  grid-area: footer;
}

/*****MOBILE*****/
/*****nuestro-menu*****/
@media (max-width: 425px) {
  .body-grid-menu {
    display: grid;
    grid-template-columns: 100% 0fr 0fr;
    grid-template-rows: 500px 150vh 1fr;
    grid-template-areas: "header header header" "span span span" "footer footer footer";
    width: 100%;
  }
  nav {
    flex-direction: column;
  }
}
.header-grid-menu {
  grid-area: header;
}

.span-grid-menu {
  grid-area: span;
}

.footer-grid-menu {
  grid-area: footer;
}

/*# sourceMappingURL=style.css.map */
