/** enlaces**/
#ancla-home1{
    display: flex;
    justify-content: center;
}
#ancla-home2{

@extend #ancla-home1 

}

.instagram {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px
}

.facebook {
    @extend .instagram;
    margin-top: 20px;

}

.linkedin {
   @extend  .instagram;
}
