#imagen {

    width: 100%;
    height: 40%;
    text-align: center;

}

.imagen-home1:hover {

    transform: scale(1.1);
    transition: 2s;

}

.imagen-home2:hover {

    transform: scale(1.1);
    transition: 2s;

}


.imagen-home1 {
 
    width: 98vh;
    height: 500px;

}

.imagen-home2 {
    width: 97.5vh;


}

#img-nosotros{
    width: 100%;
    height: 50%;
}