.take-away {
    color: white;
    background-color: #abdb25;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;

}

#tiendas-cercanas {
    color: white;
    background-color: #abdb25;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    border-bottom: 3px solid;
    border-color: #3d423c;
}

#menu {
    color: white;
    background-color: #418e8e;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    border-bottom: 3px solid;
    border-color: #3d423c;
}

.menu {
    color: white;
    background-color: #418e8e;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;

}

