#establecimientos {
    font-family: 'Quicksand', sans-serif;
    color: #3d423c;
    display: flex;
    justify-content: center;
    background-color: #ccae73;
    padding: 10px;
}

#info {
    font-family: 'Quicksand', sans-serif;
    margin: 10px;
}