.titulo-nosotros {
    color: #3d423c;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;


}

#h2-horario {
    color: #3d423c;
    background-color: #e0dba4;
    display: flex;
    justify-content: center;

}

.h3-nosotros {
    font-family: 'Quicksand', sans-serif;
    color: #3d423c;
    background-color: #e0dba4;

    padding: 10px;

}

.ul-nosotros {
    color: #3d423c;
    background-color: #e0dba4;
    padding: 20px;
    display: flex;
    justify-content: center;
}